[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_14_parse_args.git
	branch = main
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/14_parse_args_mks.git
	branch = main
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_14_parse_args
	branch = main
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_14_parsearg.git
	branch = master
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/14_parse_args.git
	branch = main
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work14.git
	branch = main
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/14_systems.git
	branch = main
[submodule "zhangeAle"]
	path = zhangeAle
	url = https://github.com/Kappachino-Latte/14_parse_args_zhangAle/
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/14_parse_args_zhangAle/
	branch = master
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/14_parse_args.git
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/14_parse_args
	branch = main
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/Work14
	branch = main
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/14_parse_args.git
	branch = main
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/14_parse_args.git
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw14.git
	branch = main
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/14_parse_args_mks.git
	branch = master
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/parse_args.git
	branch = master
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/14_parse_args_J.git
	branch = main
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_14_parse_args.git
	branch = main
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-14_parse_args.git
	branch = master
[submodule "nathMiv"]
	path = nathMiv
	url = https://github.com/Michael-Nath/mnath_argumentative.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_argumentative.git
	branch = main
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/14_Parse_Args.git
	branch = main
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/Work_14.git
	branch = main
[submodule "ganHao"]
	path = ganHao
	url = https://github.com/haotianGan/14_repo
	branch = master
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/14_parse_args_vj.git
	branch = master
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/hw14_parse_args
	branch = master
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/14_parse_args.git
	branch = main
